table.table {
    margin-bottom: 0;
}
table.table thead th {
    text-align: center;
    vertical-align: middle;
}
table.table thead th.sortable {
    cursor: pointer;
}
table.table thead tr:nth-child(1) th:nth-child(2){
    min-width: 110px;
}
table.table th:not(:last-child),
table.table td:not(:last-child) {
    border-right: 1px solid #ccc;
}

table.table td.ready {
    box-shadow: 0 0 0 2px #66afe9 inset
}

body {
    padding: 1.5em;
    font-family: 'Nanum Myeongjo', serif;
}